.banner {
  background-color: rgb(140, 231, 201);
  height: 50vh;
  position: relative;
}

.banner__info {
  background-color: rgb(72, 69, 69);
  color: aliceblue;
  padding-top: 25vh;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  width: 300px;
}

.banner__info > button {
  background-color: rgb(221, 124, 124);
  color:azure;
  text-transform: inherit;
  margin-top: 60px;
  font-weight: 600;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner_searchButton {
  background-color: rgb(235, 246, 244);
  color: rgb(250, 114, 80);
  font-weight: 900;
}
